{{!-- <header class="header">
  <nav class="navbar">
      <a class="navbar-brand" href="{{@root.site.url}}">
        <img src="{{{uiRootPath}}}/img/gcc_horz_white.svg" alt="Georgia Cyber Center" />
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <a class="navbar-item" href="http://gacybercenter.org/">Georgia Cyber Center Website</a>
        <div class="navbar-item has-dropdown is-hoverable"> --}}

          {{!-- <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://oneusgconnect.usg.edu">OneUSG</a>
            <a class="navbar-item" href="https://sn.augusta.edu/">ServiceNow</a>
            <a class="navbar-item" href="https://dashboard.envoy.com/">Envoy</a>
            <a class="navbar-item" href="http://au-papercut:9191/admin">PaperCut Admin</a>
          </div>
        </div> --}}

{{!-- All above is newly commented out --}}

        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Resource A</a>
            <a class="navbar-item" href="#">Resource B</a>
            <a class="navbar-item" href="#">Resource C</a>
          </div>
        </div> --}}
        {{!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">GitHub</a>
          </span>
        </div> --}}

{{!-- All below is newly commented out --}}


      {{!-- </div>
    </div>
  </nav>
</header> --}}
